body{
    font-family: inter, sans-serif;
}

#canvas{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(47, 88, 47);
}

.night-mode{
    background: transparent;
    border: none !important;
    position: absolute;
    top: 20px;
    right: 50px;
    cursor: pointer;
}

.night-mode span{
    display: block;
    width: 45px;
    color: rgb(59, 180, 180);
}

img{
    width: 30px;
}

.white{
    background-color: #FFFFFF;
}

.dark{
    background-color: #1e1e26;
}